extends layout

block content
    .container
            h1 방 입장

            form#joinRoom(action='javascript:enterRoom()')
                .input-field
                    input(id='roomURL', type='text', placeholder='이 칸을 비우면 새로운 방을 만듭니다.')
                    label(for='roomURL') 기존 방 URL

                button.right.btn(type='submit') 입장

