doctype html
html
    head
        title= title
        link(rel='stylesheet', href='/stylesheets/style.css')
        link(rel='stylesheet', href='/bower_components/materialize/dist/css/materialize.css')
        meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"')
        script(src='/javascripts/formIssuer.js')
        script(src='/bower_components/jquery/dist/jquery.min.js')
        script(src='/bower_components/materialize/dist/js/materialize.js')
    body
        .gameMain
            block content
