extends layout

block content
    h1 이름 입력
    form#loginform(action='/', method="GET")
        .row.input-field
            input(name='username', id='username', type='text')
            label(for='username') 이름

        .row
            input.waves-effect.btn.right(type='submit', value='로그인')
