extends layout

block content
    script(src='/socket.io/socket.io.js')
    script(src='/javascripts/socketChat.js')

    .game
        .deck
            .deck-card-container
                .deck-card
                    .game-card-container
                        .game-card
                            .game-card-header
                                | 5 OF SPADE
                            .game-card-image.valign-wrapper
                                .valign
                                    span ︎♠︎♠
                                    span ︎♠
                                    span ︎♠︎♠︎
                            .game-card-footer
                                | 5 OF SPADE
