extends layout

block content
    script(src='/socket.io/socket.io.js')
    script(src='/javascripts/socketChat.js')

    .game
        .row
            .col
                .card.game-card
                    .card-content
                        span.card-title Card Title
                        p Simple card.
                    .card-action
                        a(href='#') This is a link
                        a(href='#') This is a link
