extends layout

block content
    script(src='/socket.io/socket.io.js')
    script(src='/javascripts/socketChat.js')
    .chatbox
        ul.chat-messages#messages
        form.chat-input.input-field(action='javascript:sendChat();')
            input(type='text', id='myMessage', autocomplete='off', autofocus)
