.topStrip {
  position: absolute !important;
  display: block !important;
  top: 0 !important;
  left: 0 !important;
  right: 0 !important;
  margin: 0 !important;
  border-radius: 0 !important;
  padding: .5em;
  z-index: 1; }

.chatbox .chat-messages {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 2em 3% 4em 3%;
  overflow: scroll; }
  .chatbox .chat-messages .chat-info {
    color: #e25b60; }
  .chatbox .chat-messages .chat-cmd {
    color: #0D47A1; }
  .chatbox .chat-messages .chat-chat {
    color: #111; }

.chatbox .chat-input {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding-left: 3%;
  padding-right: 3%;
  background: #eaeaea;
  height: 4em; }
  .chatbox .chat-input input {
    margin-bottom: 10px; }

html, body {
  overflow: hidden;
  position: relative;
  width: 100%;
  height: 100%;
  background-color: #666; }

body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif; }

a {
  color: #00B7FF; }

.gameMain {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: #fcfcfc;
  width: 100vw;
  height: 56.25vw;
  /* height:width ratio = 9/16 = .5625  */
  max-height: 100vh;
  max-width: 177.78vh;
  /* 16/9 = 1.778 */
  margin: auto;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
  padding: 3%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }
