extends layout

block content
    .scrollable-container
        .row
            h1 게임 로그 - #{gameID}
        .row
            pre #{gameLog}
            // padding
            .s1

            // main
            .s2
            .s2
            .s2
            .s2
            .s2

            // padding
            .s1
