extends layout

block content
    .container
        .row
            h1 게임 로그 - #{gameID}
        .row
            // padding
            .s1

            // main
            .s2
            .s2
            .s2
            .s2
            .s2

            // padding
            .s1
