extends layout

block content
    h1 openMighty
    p 이름을 입력해주세요.
    form#registerForm(action='javascript:issueRegister();', method="POST")
        .row.input-field
            input(id='username', type='text', required)
            label(for='username') 이름

        .row
            button.waves-effect.btn.waves-effect.waves-light.right(type='submit') 로그인
