extends layout

block content
    .container
        h1 회원가입
        form#registerForm(action='javascript:issueRegister();', method="POST")
            .row.input-field
                input(id='username', type='text', required, pattern='\\w{4,16}')
                label(for='username') 아이디

            .row.input-field
                input(id='password', type='password', required)
                label(for='username') 패스워드

            .row.input-field
                input(id='email', type='email', required)
                label(for='email') 이메일

            .row
                button.waves-effect.btn.waves-effect.waves-light.right(type='submit') 로그인
