doctype html
html
    head
        title openMighty
        meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"')

        link(rel='stylesheet', href='/style.css')
        link(rel='stylesheet', href='https://fonts.googleapis.com/icon?family=Material+Icons')

        script(src='/socket.io/socket.io.js')
        script(src='/bower_components/jquery/dist/jquery.min.js')
        script(src='/bower_components/materialize/dist/js/materialize.min.js')
        script(src='/bower_components/underscore/underscore-min.js')

    body
        .valign-wrapper.center-align
            .main.valign.left-align
                .topStrip
                    span#title.left(onclick='window.location.href="/"') openMighty
                    if request.username
                        .right
                            | #{request.username} &nbsp;
                            span(onclick='javscript:issueLogout();') Logout

                block content

        script(src='/app.js')
