extends layout

block content
    .game#gameDiv
        .player
            each i in new Array(5)
                .player-slot.player-empty
                    .player-name
                        | Empty
                    .player-card
                        .game-card-container
        .deck

    .game-template
        #template-deck-card.deck-card-container
            .deck-card.game-card-container
                .game-card

        form#template-bidding.game-card.player-bid-form
            span.player-bid-form-title 공약
            select.browser-default(name='bidShape')
                option(value='pass' selected) 패스
                option(value='spade') 삽 (스페이드)
                option(value='heart') 트 (하트)
                option(value='diamond') 다리 (다이아몬드)
                option(value='clover') 끌 (클로버)
                option(value='none') 노 (노기루다)
            span.range-field
                input(type='range', name='bidCount', min='13', max='20')
            button.btn.waves-effect.waves-light(type='submit') 공약


        #template-button.game-card
            button.btn.waves-effect.waves-light 시작