extends layout

block content
    .game#gameDiv
        .player
            each i in new Array(5)
                .player-slot.player-empty
                    .player-name
                        | Empty
                    .player-card
                        .game-card-container
                    .player-has
        .deck


    // 모달 리스트

    #jokerCallModal.modal
        .modal-content
            h4 조커 콜
            p 조커 콜을 하시겠습니까?
        .modal-footer
            button.modal-action.modal-close.waves-effect.waves-red.btn-flat(name='no') 아니오
            button.modal-action.modal-close.waves-effect.waves-green.btn-flat(name='yes') 예

    #jokerModal.modal
        .modal-content
            h4 조커
            p 나오게 할 문양을 선택해주세요.
            select.browser-default(name='srq')
                option(value='none' selected) 없음
                option(value='spade') 삽 (스페이드)
                option(value='heart') 트 (하트)
                option(value='diamond') 다리 (다이아몬드)
                option(value='clover') 끌 (클로버)
        .modal-footer
            button.modal-action.modal-close.waves-effect.waves-green.btn-flat OK

    #gameEndModal.modal
        .modal-content
            h4 게임 결과
            p [13장/13장] 여당 승리입니다.
        .modal-footer
            button.modal-action.modal-close.waves-effect.waves-green.btn-flat OK


    // 템플릿

    .game-template
        #template-deck-card.deck-card-container
            .deck-card.game-card-container
                .game-card

        #template-game-card.game-card

        form#template-bidding.game-card.player-form
            span.player-form-title 공약
            select.browser-default(name='bidShape')
                option(value='pass' selected) 패스
                option(value='spade') 삽 (스페이드)
                option(value='heart') 트 (하트)
                option(value='diamond') 다리 (다이아몬드)
                option(value='clover') 끌 (클로버)
                option(value='none') 노 (노기루다)
            span.range-field
                input(type='range', name='bidCount', min='13', max='20')
            button.btn.waves-effect.waves-light(type='submit') 공약


        #template-button.game-card
            button.btn.waves-effect.waves-light 시작

        form#template-fselect.game-card.player-form
            span.player-form-title 프렌드 설정
            select.browser-default(name='friendType')
                option(value='' disabled selected) 프렌드
                option(value='mighty') 마이티
                option(value='joker') 조커
                option(value='first') 선구
                option(value='girudaA') 기루다A
                option(value='girudaK') 기루다K
                option(value='none') 노프렌드

            select.browser-default(name='bidShape')
                option(value='pass' selected) 문양 그대로
                option(value='spade') 삽 (스페이드)
                option(value='heart') 트 (하트)
                option(value='diamond') 다리 (다이아몬드)
                option(value='clover') 끌 (클로버)
                option(value='none') 노 (노기루다)
            span.range-field
                input(type='range', name='bidCount', min='13', max='20')
            button.btn.waves-effect.waves-light(type='submit') 게임시작
