extends layout

block content
    .game
        .player
            each i in new Array(5)
                .player-slot.player-empty
                    .player-name
                        | Empty
                    .player-card
                        .game-card-container

        .deck
            - for (var i = 2 ; i <= 14 ; ++i) {
            .deck-card-container
                .deck-card.game-card-container
                    .game-card(class='game-card-s#{i}')
            - }
    script(src='/socket.io/socket.io.js')
    script.
        initSockets();