.gamelog {
    // Row contains many things. style rows
    .row {
        // Narrower row
        margin-bottom: 0;
        margin-top: 0;
        line-height: 1.4em;

        .col {
            padding: 5px 1.2em;
            &:first-child {
                padding: 5px .5em;
                font-weight: bolder;
            }
        }
    }

    // Command rows
    .gusers {
        background: #666;
        color: #fff;
        .user { text-overflow: ellipsis; }
    }

    .bidding { background: #eee; }
    .set { background: #eee; }
    .score { background: #666; color: #fff; }


    // Styles for card/biddings
    .card-pass {
        color: #999;
        visibility: hidden;
        &:before {
            visibility: visible;
            content: "Pass";
        }
    }

    .card-joker   {
        &:before { content: '★ JK'; }
        background: -webkit-linear-gradient(top, #fff, #000);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    .card-spade    { color: black; &:before { content: "♠ "; }}
    .card-clover   { color: black; &:before { content: "♣ "; }}
    .card-heart    { color: red;   &:before { content: "♥ "; }}
    .card-diamond  { color: red;   &:before { content: "♦ "; }}
    .card-none     { color: blue;   &:before { content: "? "; }}

    // Leading party css
    .friend {
        background: #fffde7;
    }

    .president {
        background: #fff3e0;
    }

    // PCP
    .pcp-winner {
        background: #ffdae1 !important;
    }

    .pcp-score {
        background: #d5edff;
    }

    .occ {
        &:before { content: '(' }
        color: #FF6F00;
        font-size: .9em;
        &:after { content: ')' }
    }

}
