.topStrip {
  @extend .z-depth-1;
  @extend .red;
  @extend .white-text;
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  right: 0;
  margin: 0;
  border-radius: 0;
  padding: .5em;
  z-index: 1;
}

.main {
  @extend .z-depth-2;
  // Fill whole screen by default
  position: absolute;
  top: 0;  bottom: 0;
  right: 0;  left: 0;
  background-color: #fcfcfc;

  // Dynamic up to 1:2 ratio
  width: 200vh;
  height: 100vh;
  max-width: 100vw;
  max-height: 200vw;
  margin: auto;

  // Add padding
  padding: 2%;
  padding-top: 2.3em;
  box-sizing: border-box;
}
